<div class="container-fluid position-relative nav-bar p-0" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5" style="background-color: #e2edd2;">
            <a th:href="@{/}" class="navbar-brand">
                <h1 class="m-0 text-primary">Bio<b class="text-dark">Format</b></h1>
            </a>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0" id="item_nav">
                    <a th:href="@{/}" class="nav-item nav-link">INICIO</a>
                   </div>
            </div>
        </nav>
    </div>
</div>
<div style="margin: -40px 120px 50px 120px;
                background-color: #7AB730;
                height: 70px;
                border-radius: 4px;">
</div>